/* Main Blog Content Styling */
main {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    line-height: 1.8;
    color: #fff8e7;
  }
  
  /* Headings */
  main h2 {
    font-family: 'Exo 2', sans-serif;
    color: #48cae4;
   
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  main h3, main h4 {
    font-family: 'Exo 2', sans-serif;
    color: #fff8e7;
   
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  
  /* List Styling */
  main ul {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 2rem;
  }
  
  main ul li {
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column; /* Makes the <strong> and <p> align properly */
  }
  
  /* Bold elements in lists */
  main ul li strong {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #FFD700; /* Optional: Change color of strong elements */
  }
  
  /* Paragraph in lists */
  main ul li p {
    margin-left: 0;
    padding-left: 0;
    font-size: 1rem;
  }
  
  /* General Paragraphs */
  main p {
    margin: 1.5rem 0;
    line-height: 1.8;
    font-size: 1rem;
    color: #cccccc;
  }
  /* Strong elements */
  main strong {
    color: #FFD700; /* Emphasize key points */
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
  }
  
  
  /* Blog Navigation Styling */
  #blog-nav {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }
  
  
  
  @media (max-width: 768px) {
    #blog-nav {
        flex-direction: column;
        align-items: center;
    }
  
    #blog-nav .nav-button {
        width: 80%;
        margin: 10px 0;
    }
  }
  
  
  