

/* Container for search bar and map */
#map-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px; /* Space between map and legend */
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    position: relative; /* To place the search bar above the map */
    
}


/* Map container styling */
#map-container {
    width: 75%; /* Adjusted width to allow space for the legend and info panel */
    height: 80vh;
    background-color: #000;
    position: relative;
    overflow: hidden;
    border: 2px solid #333;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-right: 300px; /* Leave space for the info panel */
    border-radius: 8px;
    cursor: pointer; 
}
#chart {
    width: 75%; /* Adjusted width to allow space for the legend and info panel */
    height: 80vh;
    background-color: #212121;
    position: relative;
    overflow: hidden;
    border: 2px solid #333;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    margin-right: 300px; /* Leave space for the info panel */
    border-radius: 8px;
    cursor: pointer; 
}
/* Search bar at the top */
#search-container {
    position: absolute;
    top: 20px; /* Move it above the map */
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 8px;
    color: #fff;
    z-index: 10;
    display: flex;
    gap: 10px;

}

#search-input, #planet-dropdown, #search-button {
    padding: 8px;
    border-radius: 5px;
    background-color: #222;
    color: #fff;
}

#search-button {
    background-color: #48cae4;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-button:hover {
    background-color: #FFD700;
}

/* Legend container */
#legend-container,#chart-legend-container  {
    position: relative;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 8px;
    color: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between legend items */
    width: 220px;
    margin-right: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
     cursor: pointer; 
}

.legend-symbol {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

/* Info panel styling */
#planet-info-panel {
    position: absolute;
    right: 0;
    top: 20px; /* Move it slightly down so it doesn't overlap the navbar */
    width: 250px; /* Reduce width to make it more compact */
    max-height: 85vh; /* Limit height */
    background-color: rgba(0, 0, 0, 0.85);
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-left: 2px solid #333;
    overflow-y: auto;
    border-radius: 8px;
}

#planet-info-panel h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #FFD700;
}

#planet-details p {
    font-size: 14px;
    line-height: 1.5;
}

/* Tooltip styling */
#tooltip {
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    pointer-events: none;
    font-size: 12px;
    color: #333;
    display: none;
    z-index: 100;
     pointer-events: none; 
}

/* ======= Responsive Design ======= */

/* Tablet: 768px to 1024px */
@media (max-width: 1024px) {
    #map-section {
        flex-direction: column; /* Stack the map and legend on smaller screens */
    }

    #map-container {
        width: 100%; /* Make map full width */
        height: 60vh; /* Reduce height for smaller screens */
    }

    #legend-container {
        width: 100%; /* Make the legend full width on tablet */
        margin-right: 0;
    }

    #planet-info-panel {
        position: static; /* Let it follow the normal flow of the page */
        width: 100%;
        max-height: none; /* Let it grow as needed */
        border-left: none;
    }

    #search-container {
        position: static; /* Remove absolute positioning for mobile and tablet */
        margin-bottom: 10px; /* Add some space */
        width: 100%; /* Make it full width */
        justify-content: center;
    }
}

/* Mobile: 767px and below */
@media (max-width: 767px) {
    #map-section {
        flex-direction: column;
    }

    #map-container {
        width: 100%;
        height: 50vh; /* Smaller height for mobile */
    }

    #planet-info-panel {
        position: static; /* Remove fixed position */
        width: 100%;
        max-height: 40vh; /* Limit height for smaller screens */
        overflow-y: auto;
        padding: 10px; /* Reduce padding */
    }

    #legend-container {
        width: 100%;
        margin: 0 auto;
    }

    #search-container {
        position: static;
        width: 100%;
        justify-content: center;
        margin-bottom: 10px;
    }

    #search-input, #planet-dropdown, #search-button {
        padding: 6px; /* Slightly smaller padding on mobile */
        
    }

    #tooltip {
        font-size: 10px;
    }
}

/* Large Desktop: > 1024px */
@media (min-width: 1200px) {
    #map-container {
        width: 75%; /* Maintain the map size for large desktop */
        height: 80vh; /* Keep full view height */
    }

    #planet-info-panel {
        width: 300px; /* Increase the panel width on larger screens */
        padding: 25px;
    }
}
/*CHART STYLES*/
/* Chart Wrapper Styling */
#chart-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    background-color: #111; /* Darker background to separate the section */
}

/* Chart Section */
#chart-section {
    width: 80%; /* Adjust the width of the chart section */
    max-width: 1200px; /* Maximum width to prevent it from getting too large */
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    
    margin: 0 auto;
}

/* Center the Chart Container */
#chart-container {
    margin: 0 auto;
    width: 100%; /* Make chart responsive */
    height: 500px; /* Fixed height, can adjust for larger/smaller screens */
}

/* Adjust Margins for Chart to Display Axis Properly */
#chart {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}


/* Axis Labels */
.axis-label {
    font-size: 16px; /* Increase to 16px for better visibility */
    font-family: 'Roboto', sans-serif;
    fill: #fff;;
}
/* Tooltip for Axis Titles */
#axis-tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
    z-index: 10;
    opacity: 0;
    transition: opacity 0.2s;
}

/* Tooltip for bubbles */
.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
    z-index: 100;
    transition: opacity 0.3s ease;
}

/* Chart filters styling */
#filters {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#filters label {
    margin-right: 15px;
    font-size: 14px;
    cursor: pointer;
    color: #fff;
}

/* Responsive Design */
@media (max-width: 1024px) {
    #chart-section {
        width: 90%;
    }

    #chart-container {
        height: 400px; /* Smaller height for tablet */
    }

    .key-insights {
        font-size: 1em;
    }

    #filters {
        flex-direction: column;
        align-items: center;
    }

    #filters label {
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 767px) {
    #chart-container {
        height: 300px; /* Smaller height for mobile */
    }

    .axis-label {
        font-size: 12px;
    }
}




/* Axis Labels */
.axis-label {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    fill: #ddd;
}
/* Tooltip for Axis Titles */
#axis-tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
    z-index: 10;
}

/* Tooltip for bubbles */
.tooltip {
    position: absolute;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 12px;
    pointer-events: none;
    z-index: 100;
    transition: opacity 0.3s ease;
}



/* Chart filters styling */
#filters label {
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
}
